<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RBP Terms & Conditions</title>
    <meta name="description" content="Documentation">
    <meta name="author" content="Carlos Yllobre">

    <link rel="stylesheet" href="/public/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap"
        rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>


</head>

<body>

    <div class="navbar clear nav-top">
        <div class="row content">
            <a href="#"><img class="logo" src="/public/logo.png"></a>
            <a class="right" style="text-decoration: underline;" href="/documentation"><i class="fas fa-book"></i>&nbsp;
                Documentation</a>
            <a class="right" href="mailto:sumo@roofingbusinesspartner.com" target="_blank"><i
                    class="fas fa-paper-plane"></i>&nbsp;
                sumo@roofingbusinesspartner.com</a>
        </div>
        <div class="row">
            <h3>RBP Terms & Conditions</h3>
        </div>
    </div>

    <div class="container clear">
        <div class="row wrapper">


            <div class="right-col">
               

                <p>
                    Thank you for your interest in SumoQuote by RBP, a HubSpot Marketplace App. These terms and
                    conditions ("Terms") govern your access to and use of SumoQuote by RBP and any services, websites,
                    and applications offered by RBP (collectively, the "Service"). By accessing or using the Service,
                    you are agreeing to be bound by these Terms. If you do not agree to these Terms, you may not access
                    or use the Service.
                </p>

                <!-- <h2>Supported Versions:</h2>

                <p><b>App Version 1.0.0.</b></p> -->


                <h1>Accounts</h1>
                In order to access certain features of the Service, you may need to create an account. You are
                responsible for maintaining the confidentiality of your account and password, and you are responsible
                for all activities that occur under your account. RBP will not be liable for any loss or damage arising
                from your failure to comply with this requirement.

                <h1>Use of the Service</h1>
                You may use the Service only in compliance with these Terms and all applicable laws. You may not use the
                Service for any illegal or unauthorized purpose. You may not use the Service to transmit any viruses or
                other harmful computer code.

                <h1>Intellectual Property</h1>
                The Service and all content and materials included on the Service, including but not limited to text,
                graphics, logos, images, and software, are the property of RBP or its licensors and are protected by
                copyright and trademark laws. You may not use any content or materials on the Service for any commercial
                purpose without the express written consent of RBP.

                <h1>Disclaimer of Warranties</h1>
                The Service is provided on an "as is" and "as available" basis. RBP makes no representations or
                warranties of any kind, express or implied, as to the operation of the Service or the information,
                content, materials, or products included on the Service. RBP will not be liable for any damages of any
                kind arising from the use of the Service, including but not limited to direct, indirect, incidental,
                punitive, and consequential damages.

                <h1>Indemnification</h1>
                You agree to indemnify and hold RBP and its affiliates, officers, agents, and employees harmless from
                any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out
                of your use of the Service, your violation of these Terms, or your violation of any rights of another.

                <h1>Termination</h1>
                RBP reserves the right to terminate your access to the Service at any time and for any reason.

                <h1>Governing Law</h1>
                These Terms and your use of the Service will be governed by and construed in accordance with the laws of
                the governing State, without giving effect to any principles of conflicts of law.

                <h1>Changes to the Service and These Terms</h1>
                RBP reserves the right to make changes to the Service and these Terms at any time. Any changes will be
                effective immediately upon posting to the Service. Your continued use of the Service after such changes
                have been posted will be deemed to be your acceptance of the changes.

                <h1>Entire Agreement</h1>
                These Terms constitute the entire agreement between you and RBP with respect to the Service and
                supersede all prior or contemporaneous communications and proposals, whether oral or written.


                <h1>Waiver of Rights</h1>
                You acknowledge and agree that any rights not expressly granted to you in these Terms are reserved by
                RBP.

                <h1>Severability</h1>
                If any provision of these Terms is found to be invalid or unenforceable, that provision will be enforced
                to the maximum extent possible, and the remaining provisions will remain in full force and effect.

                <h1>No Waiver</h1>
                The failure of RBP to exercise or enforce any right or provision of these Terms will not constitute a
                waiver of such right or provision.

                <h1>Assignment</h1>
                These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you,
                but may be assigned by RBP without restriction.

                <h1>Contact Us</h1>
                If you have any questions about these Terms or the Service, please contact us through the marketplace.

                <div class="divider" style="width:24%; margin:30px 0;"></div>

            </div>


        </div>


</body>

</html>